* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #323232;
  height: 80vh;
  display: flex;
  justify-content: center;
  color: white;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  font-weight: 400;
  margin-bottom: 35px;
}

.slider-container {
  width: 600px;
  padding: 0 10px;
  background-color: #434343;
  padding: 10px 50px;
  border-radius: 10px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.479);
}

.zero-eval-checkbox {
  display: flex;
  justify-content: center;
}

.zero-eval-checkbox {
  display: flex;
  justify-content: center;
}

.generate-position-button {
  display: flex;
  justify-content: center;
}